<div class="container">
<div>
 <br>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon4">Nombre de voyageurs</span>
    <input [disabled]="input1" [(ngModel)]="nb_voyageurs" type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <br>
  <div class="input-group mb-3">
    <span class="input-group-addon" id="basic-addon44">  Cout du voyage au Km </span>
    <input [disabled]="input2" [(ngModel)]="cost_km"  type="number" class="form-control" aria-describedby="basic-addon44">
    <span class="input-group-addon">Euro</span>
  </div>
  <br>
<button (click)="next()" type="button" class="btn btn-primary">Next</button>
</div>
  <br>
  <br>
<div *ngIf="visible">
  <ul>
    <li *ngFor="let v of voyageurs let index = index;">
      <div>

        <span> Voyageur {{index+1}}</span>
        <br>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon6">Distance à faire vers la ville d'arrivé</span>
          <input [disabled]="input3" [(ngModel)]="voyageurs[index].distance" type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon6">
          <span class="input-group-addon">Km</span>
        </div>
        <br>
      </div>
    </li>
  </ul>
  <button (click)="next2()" type="button" class="btn btn-primary">Next</button>
</div>
<div *ngIf="showresult">
   <h3 class="text-center">Résultats</h3>
   <table class="table table-hover"> 
    <thead> 
      <tr bgcolor="#f0efed"> 
          <th>Voyageur</th>
          <th>Stand-alone cost</th>
          <th>Cout Séparation</th>
          <th>Stand alone Test</th>
          <th>Noyau</th>
          <th>Cout Proportionels</th>
          <th>Stand alone Test</th>
          <th>Noyau</th>        
      </tr> 
    </thead> 
    <tbody> 
      <tr *ngFor="let item of voyageurs">
        <th scope="row">Voyageur {{item.id}}</th>
          <td style="text-align: center;">{{item.sa_cost}}</td>
          <td style="text-align: center;">{{item.sep_cost}}</td>
          <td style="text-align: center;">
          <div *ngIf="item.standalone_separation else elseblock">
          Satisfait  
          </div>
          <ng-template #elseblock>Non Satisfait</ng-template>
          <i class="fa fa-info-circle" title="Do you like my fa-coq icon?"></i>
          </td>
          <td style="text-align: center;"></td>
          <td style="text-align: center;">{{item.prop_coast}}</td>
          <td style="text-align: center;">
          <div *ngIf="item.standalone_porpotionnel else elseblock">
          Satisfait  
          </div>
          <ng-template #elseblock>Non Satisfait</ng-template>
          <i class="fa fa-info-circle" title="Do you like my fa-coq icon?"></i>
          </td>
          <td style="text-align: center;"></td>
      </tr>
      </tbody>
    </table>
</div>
  <br>
  <button (click)="reinit()" type="button" class="btn btn-primary">Réinitialiser</button>
</div>
